export TERM=xterm-256color
PATHS=(
    '/media/storage/stuff/software/android-sdk-linux/tools'
    '/media/storage/stuff/software/android-sdk-linux/platform-tools'
    '/media/storage/stuff/software/android-ndk-linux'
    '~/.local/bin'
    '~/bin'
)
export PATH=${PATH}$(printf ":%s" "${PATHS[@]}")
# export PYTHONPATH=${PYTHONPATH}:~/.local/lib/python2.7/site-packages/
# export PYTHONSTARTUP=~/.pyrc
export SSH_KEY_PATH="~/.ssh/isa_id"

export VAGRANT_DEFAULT_PROVIDER=lxc
export ANSIBLE_NOCOWS=1

export WORKON_HOME=~/.virtualenvs
export NOTES_FOLDER=~/Desktop/notes
export PROJECTS_DIR=~/Desktop/projects

export TERMINAL=gnome-terminal
export EDITOR=vim
export VISUAL=gvim
