[user]
	email = me@razius.com
	name = Silviu Tantos
[mergetool "sublime"]
	cmd = subl -w $MERGED
	trustExitCode = false
[merge]
	tool = gviewdiff
	conflictstyle = diff3
[core]
        whitespace = trailing-space,space-before-tab
	editor = vim
	excludesfile = ~/.gitconfig_core_excludes
	autocrlf = input
[apply]
        whitespace = fix
[push]
	default = current
[pull]
	default = current
[commit]
	template = ~/.gitconfig_commit_template
[color]
	ui = true
[mergetool]
	prompt = false
[diff]
	tool = =
[init]
	templatedir = ~/.git_template
[alias]
	ctags = !.git/hooks/ctags
