<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">

<menu id="root-menu" label="Openbox 3">
  <item label="Run">
    <action name="Execute"><execute>gmrun</execute></action>
  </item>
  <item label="Terminal Emulator">
    <action name="Execute"><execute>gnome-terminal</execute></action>
  </item>
  <item label="Chrome Browser">
    <action name="Execute"><execute>chromium-browser</execute></action>
  </item>
  <item label="Spotify">
    <action name="Execute"><execute>spotify</execute></action>
  </item>
  <item label="LTSpice">
    <action name="Execute"><execute>ltspice</execute></action>
  </item>
  <item label="File Manager">
    <action name="Execute"><execute>nautilus --no-desktop ~/Desktop</execute></action>
  </item>
  	<menu id="programing" label="Programing">
      <item label="Netbeans">
        <action name="Execute"><execute>netbeans</execute></action>
      </item>
      <item label="gedit">
        <action name="Execute"><execute>gedit</execute></action>
      </item>
      <item label="geany">
        <action name="Execute"><execute>geany</execute></action>
      </item>                   	
  	</menu>
  <!-- This requires the presence of the 'menu' package to work -->
  <separator />
  <menu id="/Debian" />
  <menu id="client-list-menu" />
	<menu id="config" label="Config">
          <item label="Control Center">
            <action name="Execute"><execute>gnome-control-center</execute></action>
          </item>
     	 <item label="ObConf">
		<action name="Execute"><execute>obconf</execute></action>
            </item>
          <item label="Wallpaper">
            <action name="Execute"><execute>nitrogen --save /media/storage/pictures/wallpapers/</execute></action>
          </item>
          <item label="GTK Themes">
            <action name="Execute"><execute>lxappearance</execute></action>
          </item>
          <item label="Tint Wizard">
            <action name="Execute"><execute>tintwizard.py</execute></action>
          </item>          
          <item label="Tint Themes">
            <action name="Execute"><execute>tint2conf</execute></action>
          </item>
          <item label="Printers">
            <action name="Execute"><execute>system-config-printer</execute></action>
          </item>
          <item label="Reconfigure">
            <action name="Reconfigure" />
          </item>
	</menu>
	<menu id="power" label="Power">
                 <item label="Restart">
                <action name="Execute"><execute>~/.config/openbox/scripts/reboot.sh</execute></action>
                </item>
                 <item label="Hibernate">
                <action name="Execute"><execute>~/.config/openbox/scripts/hibernate.sh</execute></action>
                </item>
                 <item label="Power Off">
                <action name="Execute"><execute>~/.config/openbox/scripts/shutdown.sh</execute></action>
                </item>
      <item label="Exit">
        <action name="Exit" />
      </item>
	</menu>
</menu>
</openbox_menu>
